/* CSS BY Zack */


/* IMPORTED FONTS */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');


/* CSS RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

table {
    border-collapse: collapse;
}


/* ROOT VARIABLES */

:root {
    --teal: #4CA7C0;
    --purple: #484FB7;
    --lavender: #6B8FE7;
    --yellow: #E9BB57;
    --pink: #D9526F;
    --dark-gray: #1E1E1E;
    --white: #ffffff;
}


/* GLOBAL STYLES (mobile first/small) */

html {
    background-color: var(--lavender);
}

body {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    background-color: var(--purple);
    color: var(--dark-gray);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 1.5em;
}


/* HEADINGS */

h1,
h2 {
    font-family: "Kavoon", serif;
}

h1 {
    font-size: 3em;
    line-height: 1em;
}

h2 {
    font-size: 2em;
    line-height: 1.2em;
}

h3 {
    font-size: 1.5em;
    line-height: 1.2em;
}

h4 {
    font-size: 1.15em;
    line-height: 1.2em;
}


/* HEADER */

header {
    background-color: var(--purple);
    color: var(--white);
    text-align: center;
    padding-top: 30px;
}

header > p {
    margin-top: 8px;
    margin-bottom: 30px;
    font-style: italic;
}


/* NAVIGATION */

nav {
    background-color: var(--yellow);
    padding: 10px 20px 20px;
}

nav h2 {
    margin-bottom: 10px;
    color: var(--dark-gray);
    font-family: "Inter", sans-serif;
    font-size: 1.5em;
    font-style: italic;
    font-weight: 700;
    text-transform: uppercase;
}

nav li {
    margin-bottom: 10px;
}

nav li:last-child {
    margin-bottom: 0;
}

nav a {
    display: block;
    padding: 10px;
    background-color: var(--white);
    color: var(--purple);
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}


/* MAIN SECTIONS */

main > section {
    padding: 15px;
}

main > section > h2 {
    margin-bottom: 5px;
    color: var(--white);
}


/* SERVICES */

#services {
    background-color: var(--purple);
}

#services > section {
    margin-bottom: 10px;
}

#services > section:last-child {
    margin-bottom: 0;
}

#services h3 {
    margin-bottom: 10px;
    color: var(--yellow);
}

.service-card {
    margin-bottom: 15px;
    padding: 22px;
    background-color: var(--white);
    border-radius: 10px;
}

.service-card img {
    width: 75px;
    margin-bottom: 20px;
}

.service-card h4 {
    margin-bottom: 5px;
    color: var(--purple);
    font-weight: 700;
}

.service-card p {
    color: var(--dark-gray);
}


/* WHY CHOOSE US */

#why-us {
    background-color: var(--pink);
}

#why-us h2 {
    margin-bottom: 15px;
}

#why-us ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

#why-us li {
    min-height: 100px;
    padding: 15px;
    border-radius: 10px;
    font-weight: 700;
    line-height: 1.2em;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

#why-us li:nth-child(1) {
    background-color: var(--teal);
}

#why-us li:nth-child(2) {
    background-color: var(--lavender);
}

#why-us li:nth-child(3) {
    background-color: var(--yellow);
}

#why-us li:nth-child(4) {
    background-color: var(--white);
}


/* PRICING */

#pricing {
    background-color: var(--purple);
}

#pricing > h2 {
    margin-bottom: 0;
}

#pricing > section {
    margin-bottom: 15px;
}

#pricing > section:last-child {
    margin-bottom: 0;
}

#pricing h3 {
    margin-bottom: 8px;
    color: var(--yellow);
}

table {
    width: auto;
    margin: 0 auto;
    background-color: var(--white);
}

th {
    background-color: var(--yellow);
    font-weight: 700;
    text-transform: uppercase;
}

th,
td {
    padding: 10px 15px;
    border: 1px solid #cccccc;
    color: var(--dark-gray);
    text-align: left;
}


/* TAKE THE FIRST STEP */

#first-step {
    background-color: var(--pink);
    color: var(--white);
}

#first-step h2 {
    margin-bottom: 8px;
}

#first-step p {
    margin-bottom: 15px;
}

.schedule-button {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: var(--white);
    border: 2px solid var(--dark-gray);
    border-radius: 10px;
    color: var(--dark-gray);
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}


/* FOOTER */

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 35px 15px;
    background-color: var(--purple);
    color: var(--white);
    font-size: 0.75em;
}

footer a {
    color: var(--white);
}